<div class="chapter-item" (click)="viewChapter(chapter)">
    <div class="chapter-item-wrapper">
      <div class="chapter-content">
        <h5 class="chapter-count">Chapter <span>{{chapter.id}}</span></h5>
        <h4 class="title-chapter">
            {{chapter.title}}
        </h4>
        <p class="synopsis">
          {{chapter.description}}
          <!-- <textarea type='text' placeholder="chapter text">{{chapter.title}}</textarea> -->
        </p>
        <div class="characters-holder">
          <span *ngFor="let character of chapter.charaters" class="character-image"></span>
        </div>
        <div class="story-info">
          <div class="info-cell">
            <p class="label">Scenes</p>
            <p class="content">{{chapter.scenes.length}} </p>
          </div>
          <div class="info-cell">
            <p class="label">Words</p>
            <p class="content">{{chapter.wordCount}} of {{chapter.wordTarget}}</p>
          </div>
        </div>
        <div class="tool-bar">
          <span data-balloon="Jump to Chapter" data-balloon-pos="up" (click)="viewChapter(chapter)">
            <svg class="icon-view">
              <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-view"></use>
            </svg>
          </span>
          <span data-balloon="Edit Details" data-balloon-pos="up"  (click)="editChapter(chapter)">
            <svg class="icon-edit">
              <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-edit"></use>
            </svg>
          </span>
          <span data-balloon="Delete" data-balloon-pos="up-right"  (click)="deleteChapterFomAct(chapter)">
            <svg class="icon-trash">
              <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
            </svg>
          </span>
        </div>
      </div>
    </div>
    <span class="add-new-scene" (click)='addScene(0, chapter.id, actId, "create")'>
      <svg class="icon-plus">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
      </svg>
    </span>
    <span class="add-new add-chapter" (click)='addNewChapter(chapter, actId)'>
      <svg class="icon-plus">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
      </svg>
    </span>
  </div>

  <app-scene
    *ngFor="let scene of chapter.scenes; let last = last "
    [scene]='scene'
    [scenes]='chapter.scenes'
    [lastItem]="last"
    [chapterId]='chapter.id'
    [actId]='actId'
    (outScene)="emitScene($event)">
  </app-scene>

