<nav class="side-nav assets-nav">
  <ul class="">
    <li (click)='changeView("synopsis")' [ngClass]="{'active': activeElement == 'synopsis'}">
      Synopsis
    </li>
    <li (click)='changeView("audence")' [ngClass]="{'active': activeElement == 'audence'}">
      Audence
    </li>
    <li (click)='changeView("characterList")' [ngClass]="{'active': activeElement == 'characterList'}">
      Characters
    </li>
    <li (click)='changeView("storyMap")' [ngClass]="{'active': activeElement == 'storyMap'}">
      Story Map
    </li>
  </ul>
</nav>
