<div class="character-item">
  <div class="character-picture">
    <img [src]="character.img" alt="" class="">
  </div>
  <div class="character-details">
    <div class="character-role">
      {{character.role}}
    </div>
    <h2 class="character-name">{{character.name}}</h2>
      <hr>
      <p class="info-label" for="story-line">Storyline</p>
      <p>
          {{character.storyline}}
      </p>
      <hr>
      <p class="info-label" for="story-line">Goal</p>
      <p>
        {{character.goal}}
      </p>
      <hr>
      <p class="info-label" for="story-line">Conflict</p>
      <p>
        {{character.conflict}}
      </p>
      <hr>
      <p class="info-label" for="story-line">Epiphany</p>
      <p>
        {{character.epiphany}}
      </p>
  </div>
</div>
