<div class="character-item">
  <div class="picture-wrapper">
    <div [ngStyle]="{'background-image': character.img }" class="character-picture">
      <img [src]="character.img" alt="" class="">
      <div [ngStyle]="{'background-image': 'url(' + character.img + ')'}"></div>
    </div>
    <span class="character-role">
      {{character.role}}
    </span>
  </div>

  <div class="character-details">
    <div class="tool-bar">
      <span data-balloon="Edit Details" data-balloon-pos="up" (click)='editCharacter(character.id)'>
        <svg class="icon-edit">
          <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-edit"></use>
        </svg>
      </span>
      <span data-balloon="Delete" data-balloon-pos="up-right" (click)='deleteCharacter(character.id)'>
        <svg class="icon-trash">
          <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
        </svg>
      </span>
    </div>
    <h2 class="character-name">{{character.name}}</h2>
      <hr>
      <p class="info-label" for="story-line">Storyline</p>
      <p>
          {{character.storyline}}
      </p>
      <hr>
      <p class="info-label" for="story-line">Goal</p>
      <p>
        {{character.goal}}
      </p>
      <hr>
      <p class="info-label" for="story-line">Conflict</p>
      <p>
        {{character.conflict}}
      </p>
      <hr>
      <p class="info-label" for="story-line">Epiphany</p>
      <p>
        {{character.epiphany}}
      </p>
  </div>
</div>
