@import "../../../assets/styles/helpers/var";

@mixin square($width, $height) {
  position: relative;
  &:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: ($height / $width) * 100%;
  }
  > img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
}

.character-item {
  display: flex;
  border: solid thin darken($light-gray, 7%);
  margin-bottom: 30px;
  background-color: #fff;
  padding: 20px;

  .picture-wrapper {
    width: 15%;
    text-align: center;
    .character-role {
      padding: 5px 10px;
      color: $purple;
      border: solid thin $purple;
    }
    .character-picture {
      @include square(1, 1);
      background-image: url(/assets/images/avatar.svg);
      background-size: cover;
      align-self: flex-start;
      margin-bottom: 20px;
    }
  }
  .character-details {
    width: 85%;
    padding: 0 0 0 30px;
    position: relative;
    .tool-bar {
      position: absolute;
      right: -10px;
      top: -10px;
      span {
        width: 20px;
        height: 20px;
        margin: 5px;
        display: inline-block;
        svg {
          width: 18px;
          height: 18px;
          margin: 0;
        }
        &:hover {
          svg {
            fill: $yellow;
          }
        }
      }
    }
    .character-name {
      margin-top: 0;
    }
  }

  .info-label {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: light;
    opacity: .6;
  }

}

