<div [ngClass]="{'open': isOpen}" class="modal confirm-modal open">
  <div class="modal-body">
    <div class="modal-header">
      <svg class="icon-alert">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-alert"></use>
      </svg>
    </div>
    <div class="modal-content">
      <p>Are you sure you want to delete Scene</p>
    </div>
    <div class="buttons">
      <button class="btn-cancel">Cancel</button>
      <button class="btn-yellow">Yes</button>
    </div>
  </div>
</div>

