<aside class="right-side-panel" *ngIf="scene || chapter || character || audence" [ngClass]="{'show': rightOpen}">
  <div class="subheader">
    <span class="edit-btn dropdown">
      <svg class="icon-more">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-more"></use>
      </svg>
      <ul class="dropdown-menu">
        <li (click)='switchMode("edit")'>
          <span>
            <svg class="icon-more">
              <use xlink:href="../../assets//fonts/swiftpad-icons.svg#icon-edit"></use>
            </svg>
          </span>
          Edit
        </li>
        <li (click)='switchMode("delete")'>
          <span>
            <svg class="icon-more">
              <use xlink:href="../../assets//fonts/swiftpad-icons.svg#icon-trash"></use>
            </svg>
          </span>
          Trash
        </li>
      </ul>
    </span>
    <span class="close"  (click)="cancel()">
      <svg class="icon-close">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-close"></use>
      </svg>
    </span>
  </div>
<div class="panel-wrapper" >
  <h4 class="title-item" *ngIf="scene">{{panelTitle}}</h4>
  <form *ngIf="scene" class="material" [formGroup]="rightPanelForm">
      <div class="form-group">
        <label>Scene Name</label>
        <input type="text" formControlName="title" #scenetitle class="form-control" value="{{scene.title}}">
      </div>

    <div class="form-group">
      <label >act {{scene.actId}}</label>
    </div>
    <div class="form-group">
      <label *ngIf='scene.type == "view"' >chapter {{scene.chapterId}}</label>
      <select class="lite-select" *ngIf='scene.type == "edit"' name="chapter" data-placeholder="Chapter" formControlName="chapterId">
        <option value="">Chapter 1</option>
        <option value="">Chapter 2</option>
        <option value="">Chapter 3</option>
        <option value="">Chapter 4</option>
      </select>
    </div>
    <div class="form-group">
      <label *ngIf='scene.type == "view"'>scene {{scene.id + 1}}</label>
      <select class="lite-select"  *ngIf='scene.type == "edit"' name="" data-placeholder="Scene" formControlName="id">
        <option value="">Scene 1</option>
        <option value="">Scene 2</option>
        <option value="">Scene 3</option>
        <option value="">Scene 4</option>
      </select>
    </div>
    <div class="form-group">
      <label>One Line Synopsis</label>
      <textarea formControlName="description" #sceneDescription class="autoExpand form-control" rows="2" value ="{{scene.description}}" data-min-rows='1' maxlength=116></textarea>
      <span class="text-inline">{{ 116 - sceneDescription.value.length}}</span>
    </div>
    <div class="form-group">
      <label> Word taget </label>
      <input class="autoExpand form-control" formControlName="wordGoal" type="number" value="{{scene.wordGoal}}" class="form-control">
    </div>
    <div class="panel-footer" *ngIf="scene.type!='view'">
      <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
      <button class="btn btn-yellow" [disabled]="scene.type ==='view'" (click)="save()">Save</button>
    </div>
  </form>


    <h4 class="title-item" *ngIf="character">{{panelTitle}}</h4>
    <form  class="material characterForm" *ngIf="character" [formGroup]="rightPanelCreateCharacter">
      <div>
        <app-img-upload [ngModel]="character.img"></app-img-upload>
      </div>
      <!-- <input type="file" id="fileElem" multiple accept="image/*" onchange="handleFiles(this.files)">

      <div id="fileList">
        <p>No files selected!</p>
      </div> -->

        <div class="form-group">
          <label>character Name</label>
          <input type="text" formControlName="characterName" #charactername class="form-control" value="{{character.name}}">
        </div>


        <div class="form-group">
          <label>Role</label>
          <input type="text" formControlName="role" #role class="form-control" value="{{character.role}}">
        </div>


        <div class="form-group">
          <label>Story Line</label>
          <input type="text" formControlName="storyline" #storyline class="form-control" value="{{character.storyline}}">
        </div>

        <div class="form-group">
          <label>Goal</label>
          <input type="text" formControlName="goal" #goal class="form-control" value="{{character.goal}}">
        </div>

        <div class="form-group">
          <label>Conflict</label>
          <input type="text" formControlName="conflict" #conflict class="form-control" value="{{character.conflict}}">
        </div>

        <div class="form-group">
          <label>Epiphany </label>
          <input type="text" formControlName="epiphany" #storyline class="form-control" value="{{character.epiphany}}">
        </div>

        <div class="panel-footer" *ngIf="character.type!='view'">
          <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
          <button class="btn btn-yellow" [disabled]="character.type ==='view'" (click)="saveCharapter()">Save</button>
        </div>
    </form>

    <h4 class="title-item" *ngIf="audence">{{panelTitle}}</h4>
    <form  class="material" *ngIf="audence" [formGroup]="rightPanelCreateAudence">
      <div>
        <app-img-upload></app-img-upload>
      </div>
        <div class="form-group">
          <label>Audence Name</label>
          <input type="text" formControlName="audencerName" #audencename class="form-control" value="{{audence.name}}">
        </div>


        <div class="form-group">
          <label>Role</label>
          <input type="text" formControlName="role" #role class="form-control" value="{{audence.role}}">
        </div>


        <div class="form-group">
          <label>Story Line</label>
          <input type="text" formControlName="storyline" #storyline class="form-control" value="{{audence.storyline}}">
        </div>

        <div class="form-group">
          <label>Goal</label>
          <input type="text" formControlName="goal" #goal class="form-control" value="{{audence.goal}}">
        </div>

        <div class="form-group">
          <label>Conflict</label>
          <input type="text" formControlName="conflict" #conflict class="form-control" value="{{audence.conflict}}">
        </div>

        <div class="form-group">
          <label>Epiphany </label>
          <input type="text" formControlName="epiphany" #storyline class="form-control" value="{{audence.epiphany}}">
        </div>

        <div class="panel-footer" *ngIf="audence.type!='view'">
          <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
          <button class="btn btn-yellow" [disabled]="audence.type ==='view'" (click)="saveAudence()">Save</button>
        </div>
    </form>


  <h4 class="title-item" *ngIf="chapter">{{panelTitle}}</h4>
  <form *ngIf="chapter" class="material" [formGroup]="rightPanelCreateChapter">
      <div class="form-group">
        <label>Chapter Name </label>
        <input type="text" formControlName="chaptertitle" #chaptertitle class="form-control" value="{{chapter.title}}">
      </div>

    <div class="form-group">
      <label >act {{chapter.actId}}</label>
    </div>
    <div class="form-group">
      <label  *ngIf='chapter.type == "view"' >chapter {{chapter.id + 1}}</label>
      <select class="lite-select" *ngIf='chapter.type == "edit"' name="chapter" data-placeholder="Chapter" formControlName="chapterId">
        <option value="">Chapter 1</option>
        <option value="">Chapter 2</option>
        <option value="">Chapter 3</option>
        <option value="">Chapter 4</option>
      </select>
    </div>

    <div class="form-group">
      <label>One Line Synopsis</label>
      <textarea formControlName="description" #chapterDescription class="autoExpand form-control" rows="1" value ="{{chapter.synopsis}}" data-min-rows='1' maxlength=116>
      </textarea>
      <span class="text-inline">{{ 116 - chapterDescription.value.length}}</span>
    </div>


    <!-- <div class="form-group">
      <label> Word taget </label>
      <input class="autoExpand form-control" formControlName="wordGoal" type="number" value="{{scene.wordGoal}}" class="form-control">
    </div> -->
    <div class="panel-footer" *ngIf="chapter.type!='view'">
        <button class="btn btn-cancel" (click)="cancel()">Cancel</button>
        <button class="btn btn-yellow" (click)="saveChapter()">Save</button>
      </div>
  </form>
</div>



</aside>
