<nav class="side-nav">
  <div class="chapter has-sub" *ngFor="let item of menuItems; let i = index ">

    <ul class="collapsible-menu">
      <li class="chapter has-sub" *ngFor="let chapter of item.chapters; let i = index ">
        <a class="arrow">{{chapter.title}} {{ chapter.id }}
        </a>
        <ul>
          <li *ngFor="let scene of chapter.scenes">
            {{scene.title}}
            <span *ngFor="let scene of chapter.scenes" class="new-element-menu add-scene">
              <svg class="icon-plus">
                <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
              </svg>
            </span>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</nav>
