<main class="main-content">
  <div class="subheader">
    <div class="hide-menu" (click)="openMenu()">
      <svg class="icon-menu">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-menu"></use>
      </svg>
    </div>
    <div class="story-name">The Time Truck</div>
    <nav class="main-nav"></nav>
  </div>

  <div class="story-map-wrapper">
    <div class="story-map">
            <div class="acts-column"  *ngFor = "let act of ACTS">
                <h4 class="title">Act <span> {{act.id}}</span></h4>
                <app-chapter class="chapter-column" *ngFor="let chapter of act.chapters" 
                  [chapter]="chapter"
                  [actId]="act.id"
                  (outScene)="emitScene($event)">
                </app-chapter>
            </div>
    </div>
  </div>
</main>
