.right-side-panel {
  border-left: solid thin darken($light-gray, 7%);
  overflow: hidden;
  .subheader {
    .dropdown {
      position: absolute;
      left: 0;
      top: 18px;
    }
    .close {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
      .icon-close {
        width: 25px;
        height: 25px;
        margin: 5px;
        transition: all .3s;
      }
      &:hover {
        .icon-close {
          fill: $yellow;
        }
      }
      &:hover {
        .icon-close {
          fill: darken($yellow, 10%);
        }
      }
    }
    .title-item {
      margin-top: 25px;
      margin-left: 40px;
      font-size: 20px;
    }
  }
  .panel-wrapper {
    height: calc(100vh - 190px);
    padding: 20px;
    overflow-y: auto;
  }
  .panel-footer {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: $light-gray;
    border-top: solid thin darken($light-gray, 7%);
  }
  // .scene-edit {
  //   display: none;
  // }
}
