<app-login [hidden]="user.username != undefibned"></app-login>

<div [hidden]='user.username == undefined'>
  <app-header
  (redirectDashboard)='toDashboard()'
  (redirectSettings)='toSettings()'></app-header>
  <app-left-side
    *ngIf='menubarItem != "dashboard" && menubarItem != "settings"'
    (activeMenu)='activeMenuItem($event)'
    [menubarItem]='menubarItem'
    (selectedChapter)='selectedChapter($event)'
    (createNewScene)='createScene($event)'
    (createNewChapter)="emitNewChapter($event)"
    ></app-left-side>

  <app-dashboard  *ngIf='menubarItem == "dashboard"'
      [stories]="Stories"
      (newStory)="createNewStory($event)"
      (selectStory)="selectedStory($event)"
  ></app-dashboard>

  <main class="main-content"
  *ngIf='menubarItem != "dashboard" && menubarItem != "settings"'>
    <div class="subheader">
      <div class="hide-menu" (click)="openMenu($event)">
        <svg class="icon-menu">
          <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-menu"></use>
        </svg>
      </div>
      <div class="story-name">{{selectedStoryItem.title}}</div>
      <nav class="main-nav"><ul>
        <li (click)='gotoMenu("discover")' [ngClass]="{'active':menubarItem=='discover'}">Discover</li>
        <li (click)='gotoMenu("write")' [ngClass]="{'active':menubarItem=='write'}">Write</li>
        <li> Publish</li>
      </ul></nav>
    </div>


       <app-story-map *ngIf="menubarItem == 'discover'  && activeComponent =='storyMap'"
            [ACTS] = "ACTS"
          (outScene)="emitScene($event)"
            (outChapter)="emitNewChapter($event)"
            (showright)=emitRight($event)
            (showmodal)=showmodal($event)
            (menubar)=emitGotoMenu($event)
            (deletechapter)='deleteChapter($event)'></app-story-map>

      <app-write *ngIf="menubarItem == 'write'"
                (createNewScene)="createScene($event)"
                (createNewChapter)="emitNewChapter($event)"
                (deleteChapter)="deleteChapter($event)"
                (newCharacter)="createNewCharacter()"
                 (hasOpenAddCharacter)="addCharacterFromWriter($event)"
                [chapter]="selectChapter"
                [ACTS] = "ACTS"
                [characters]=appCharacters></app-write>

      <app-synopsis *ngIf="menubarItem == 'discover' && activeComponent =='synopsis'"></app-synopsis>

      <app-audence-list *ngIf="menubarItem == 'discover' && activeComponent =='audence'"
                        [audences]="appAudences"
                        (newAudence)="createNewAudence()">
      </app-audence-list>

      <app-character-list *ngIf="menubarItem == 'discover' && activeComponent =='characterList'"
                          (newCharacter)="createNewCharacter()"
                          (emitEditCharacter)='editCharacter($event)'
                          (emitDeleteCharacter)='deleteCharacter($event)'
                          [characters]="appCharacters">
      </app-character-list>


  </main>


  <app-right-side #rightSlideView *ngIf="newScene || newChapter || newCharacter || newAudence"
   [scene]="newScene"
   [chapter]="newChapter"
   [character]="newCharacter"
   [audence]="newAudence"

   [rightOpen]="rightTab"
   (close)="this.rightTab = $event"
   (addScene)="addscene($event)"
   (addNewScene)=addNewScene($event)
   (addNewChapter)=addNewChapter($event)
   (addNewCharacter)=addNewCharacter($event)
   (addNewAudence)=addNewAudence($event)></app-right-side>

   <app-modal-confirm  #modalView *ngIf="newScene || newChapter || newCharacter"
   [deleteScene]="newScene"
   [deleteChapter]="newChapter"
   [deleteCharacter]="newCharacter"

   (deleteSelectedScene)=deleteSelectedScene($event)
   (deleteSelectedChapter)=deleteSelectedChapter($event)
   (deleteSelectedCharacter)=deleteSelectedCharacter($event)>
  </app-modal-confirm>

  <app-settings *ngIf="menubarItem == 'settings'"></app-settings>



  </div>

