<app-login [hidden]="user.username != undefibned"></app-login>

<div [hidden]='user.username == undefined'>
  <app-header></app-header>
  <app-left-side
    (activeMenu)='activeMenuItem($event)'
    [menubarItem]='menubarItem'
    (selectedChapter)='selectedChapter($event)'></app-left-side>

  <!-- <app-dashboard  *ngIf='menubarItem == "write"'></app-dashboard> -->
  <main class="main-content" >
    <div class="subheader">
      <div class="hide-menu" (click)="openMenu($event)">
        <svg class="icon-menu">
          <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-menu"></use>
        </svg>
      </div>
      <div class="story-name">The Time Truck</div>
      <nav class="main-nav"><ul>
        <li (click)='gotoMenu("discover")' [ngClass]="{'active':menubarItem=='discover'}">Discover</li>
        <li (click)='gotoMenu("write")' [ngClass]="{'active':menubarItem=='write'}">Write</li>
        <li> Publish</li>
      </ul></nav>
    </div>


       <app-story-map *ngIf="menubarItem == 'discover'  && activeComponent =='storyMap'" [ACTS] = "ACTS"
            (outScene)="emitScene($event)"
            (outChapter)="emitNewChapter($event)"
            (showright)=emitRight($event)
            (showmodal)=showmodal($event)
            (menubar)=emitGotoMenu($event)></app-story-map>
      <app-write *ngIf="menubarItem == 'write'" [chapterId]="selectChapter"></app-write>

      <app-synopsis *ngIf="menubarItem == 'discover' && activeComponent =='synopsis'"></app-synopsis>

      <app-audence *ngIf="menubarItem == 'discover' && activeComponent =='audence'">
      </app-audence>

      <app-character-list *ngIf="menubarItem == 'discover' && activeComponent =='characterList'"></app-character-list>


  </main>


  <app-right-side #rightSlideView *ngIf="newScene || newChapter"
   [scene]="newScene"
   [chapter]="newChapter"
   [rightOpen]="rightTab"
   (close)="this.rightTab = $event"
   (addScene)="addscene($event)"
   (addNewScene)=addNewScene($event)
   (addNewChapter)=addNewChapter($event)></app-right-side>

   <app-modal-confirm  #modalView *ngIf="newScene" [deleteScene]="newScene" (deleteSelectedScene)=deleteSelectedScene($event) ></app-modal-confirm>
</div>

