
<div class="editor-wrapper">
  <div class="chapter">
    <div class="chapter-head">
      <p class="chapter-count edit">Chapter  {{currentChapter.id}}</p>
      <p class="chapter-title edit" *ngIf='currentChapter.title == ""'>Add Chapter Title</p>
      <p class="chapter-title edit" *ngIf='currentChapter.title != ""'>{{currentChapter.title}}</p>
      <div class="tool-bar">
        <span data-balloon="View Details" data-balloon-pos="up" (click)='viewChapter(currentChapter.id)'>
          <svg class="icon-view">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-view"></use>
          </svg>
        </span>
        <span data-balloon="Edit Details" data-balloon-pos="up"  (click)='editChapter(currentChapter.id)'>
          <svg class="icon-edit">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-edit"></use>
          </svg>
        </span>
        <span data-balloon="Delete" data-balloon-pos="up-right"  (click)='deleteChapter(currentChapter.id)'>
          <svg class="icon-trash">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
          </svg>
        </span>
      </div>
    </div>
    {{currentChapter.scenes.length}}
    <div class="scene"  *ngIf="currentChapter.scenes == undefined"> <!-- *ngFor='let scene on currentChapter.scenes'> -->
      <div class="scene-head">
          <div class="scene-title">Scene 1: Some long name for scene title</div>

          <!-- <div class="scene-title" *ngIf="scene.title == ''">Scene 1: Some long name for scene title</div>
          <div class="scene-title" *ngIf="scene.title != ''">{{scene.title}}</div> -->

        <div class="tool-bar">
          <span data-balloon="View Details" data-balloon-pos="up" > <!-- (click)='viewScene(scene)'>-->
          <svg class="icon-view">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-view"></use>
          </svg>
        </span>
          <span data-balloon="Edit Details" data-balloon-pos="up"> <!-- (click)='editScene(scene)'>-->
          <svg class="icon-edit">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-edit"></use>
          </svg>
        </span>
          <span data-balloon="Delete" data-balloon-pos="up-right"> <!--(click)='deleteScene(scene)'>-->
          <svg class="icon-trash">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
          </svg>
        </span>
        </div>
      </div>
      <trumbowyg [initialContent]="initialContentOne" [options]="options1" (savedContent)="contentOne=$event" placeholder="Start Your Scene Here">
      </trumbowyg>
      <div class="add-new">
        <span>
          <svg class="icon-plus">
            <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
          </svg>
          <i>Add New Chapter {{currentChapter.id}}</i>
          <i>Add New Scene {{currentChapter.scenes.length}}</i>
        </span>
      </div>
    </div>
  </div>
</div>


