
<div class="editor-wrapper" (onScroll)="handleScroll($event)">
  <span *ngFor='let act of ACTS'>
    <div *ngFor='let chapter of act.chapters' class="chapter" on-mouseover="over(chapter)"  [ngClass]="{'selected':chapter.isFocus == true}">
      <div class="chapter-head">
        <p class="chapter-count edit">Chapter  {{chapter.id}}</p>
        <p class="chapter-title edit" *ngIf='chapter.title == ""'>Add Chapter Title</p>
        <p class="chapter-title edit" *ngIf='chapter.title != ""'>{{chapter.title}}</p>
        <div class="tool-bar">
          <span data-balloon="View Details" data-balloon-pos="up" (click)='viewChapter(chapter.id)'>
            <svg class="icon-view">
              <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-view"></use>
            </svg>
          </span>
          <span data-balloon="Edit Details" data-balloon-pos="up"  (click)='editChapter(chapter.id)'>
            <svg class="icon-edit">
              <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-edit"></use>
            </svg>
          </span>
          <span data-balloon="Delete" data-balloon-pos="up-right"  (click)='deleteChapter(chapter.id)'>
            <svg class="icon-trash">
              <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
            </svg>
          </span>
        </div>
      </div>

      <div  *ngIf="chapter.scenes != undefined && chapter.scenes.length > 0">
        <div class="scene" [ngClass]="{'focus':scene.isFocus == true}" *ngFor='let scene of chapter.scenes' (click)='focusMe(scene)'>

            <div class="scene-head">
                <div class="scene-title">
                    Scene {{scene.id}}: {{scene.title}}</div>
              <div class="tool-bar">
                <span data-balloon="View Details" data-balloon-pos="up" (click)='viewScene(scene)'>
                <svg class="icon-view">
                  <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-view"></use>
                </svg>
              </span>
                <span data-balloon="Edit Details" data-balloon-pos="up" (click)='editScene(scene)'>
                <svg class="icon-edit">
                  <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-edit"></use>
                </svg>
              </span>
                <span data-balloon="Delete" data-balloon-pos="up-right"  (click)='deleteScene(scene)'>
                <svg class="icon-trash">
                  <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
                </svg>
              </span>
              </div>
            </div>

            <div style="position:relative">
              <span class="placeholder"  style="position:absolute" *ngIf='scene.isFocus == false && scene.description.length == 0'>
                  Start writing your story here
              </span>

              <trumbowyg 
                         [(initialContent)]="scene.description" [options]="options1" 
                         (savedContent)="scene.description=$event">
              </trumbowyg>

            </div>

            <div class="add-new">
              <span>
                <svg class="icon-plus">
                  <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
                </svg>
                <i (click)='addNewScene(chapter.actId, chapter.id, chapter.scenes.length )'>Add New Scene </i>
                <i (click)='addChapter(chapter)'>Add New Chapter </i>
              </span>
            </div>
          </div>
      </div>
    </div>
  </span>
</div>


