<div class="story">
  <div class="story-wrapper">
    <h3 class="story-title">{{story.title}}</h3>
    <p class="synopsis">
      {{story.description}}
    </p>
    <div class="characters-holder">
      <span class="character-image" *ngFor="let item of story.characters"></span>
      <span class="character-count" *ngIf="story.characters.length > 4">+5</span>
    </div>
    <hr>
    <div class="story-info">
      <div class="info-cell">
        <p class="label">words</p>
        <p class="content">{{story.wordCount}} of {{story.targetWord}}</p>
      </div>
      <div class="info-cell">
        <p class="label">created</p>
        <p class="content">{{story.date | date}}</p>
      </div>
    </div>
    <div class="tool-bar">
      <span data-balloon="Jump to Story" data-balloon-pos="up" (click)="selectAStory(story)">
        <svg class="icon-view">
          <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-view"></use>
        </svg>
      </span>
        <span data-balloon="Delete" data-balloon-pos="up-right"  (click)="deleteStory(story)">
        <svg class="icon-trash">
          <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-trash"></use>
        </svg>
      </span>
    </div>
  </div>
</div>
