<div class="story">
  <h3 class="story-title">The Blue Letter</h3>
  <p class="synopsis">
      Story of a strong-willed woman in Puritan New England, who is branded for her sins and her love for one weak man.
  </p>
  <div class="characters-holder">
    <span class="character-image"></span>
    <span class="character-image"></span>
    <span class="character-image"></span>
    <span class="character-image"></span>
    <span class="character-count">+5</span>
  </div>
  <hr>
  <div class="story-info">
    <div class="info-cell">
      <p class="label">words</p>
      <p class="content">27,000 of 50,000</p>
    </div>
    <div class="info-cell">
      <p class="label">created</p>
      <p class="content">Aug 16, 2017</p>
    </div>
  </div>
</div>
