.tag-label {
  padding: 2px 7px;
  border: solid thin;
  border-radius: 20px;
  font-size: 10px;
  &.primary{
    color: $violet;
    border-color:$violet;
  }
  &.secondary{
    color: $blue;
    border-color: $blue;
  }
}