html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
body {
  position: relative;
}

.preloader{
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: $dark-purple;
  display: flex;
  justify-content: center;
  align-items: center;
  .typing-points {
    width: 6px;
    height: 6px;
    border-radius: 50%;
    -webkit-animation: typing 1s linear infinite alternate;
    -moz-animation: typing 1s linear infinite alternate;
    animation: typing 1s linear infinite alternate;
    margin: 46px auto;
    /* Not necessary- its only for layouting*/
    position: relative;
    left: -12px;
  }
}
@-webkit-keyframes typing {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}

@-moz-keyframes typing {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}

@keyframes typing {
  0% {
    background-color: rgba(255, 255, 255, 1);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  25% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 2), 24px 0px 0px 0px rgba(255, 255, 255, 0.2);
  }
  75% {
    background-color: rgba(255, 255, 255, 0.4);
    box-shadow: 12px 0px 0px 0px rgba(255, 255, 255, 0.2), 24px 0px 0px 0px rgba(255, 255, 255, 1);
  }
}
.rotate-circle {
  width: 30px;
  height: 30px;
  border: 1px #fff solid;
  border-radius: 50%;
  -webkit-animation: rotation 1s ease-in-out infinite;
  -moz-animation: rotation 1s ease-in-out infinite;
  animation: rotation 1s ease-in-out infinite;
  position: relative;
  &:after {
    width: 5px;
    height: 5px;
    background-color: rgba(255, 255, 255, 1);
    border-radius: 100%;
    position: absolute;
    content: "";
    top: 10px;
    left: 0;
  }
}

@-webkit-keyframes rotation {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes rotation {
  0% {
    -moz-transform: rotate(0deg);
  }
  100% {
    -moz-transform: rotate(360deg);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}


aside {
  position: absolute;
  top: 50px;
  background-color: $light-gray;
  height: calc(100vh - 50px);
  overflow-y: auto;
  transition: all .4s;
  &.left-side-panel {
    width: 280px;
    left: 0;
    transform: translateX(-100%);

  }
  &.right-side-panel {
    width: 350px;
    right: 0;
    transform: translateX(100%);
    z-index: 1000;
  }
}
main {
  width: 100%;
  height: calc(100vh - 50px);
  background-color: $light-gray-lighter;
  left: 0;
  position: absolute;
  top: 50px;
  transition: all .4s;
  .main-wrapper {
    width: 100%;
    height: calc(100% - 60px);;
    padding: 30px;
    overflow: auto;
  }
}
.show-left-panel {
  .left-side-panel {
    transform: translateX(0);
  }
  main {
    width: calc(100% - 280px);
    left: 280px;

  }
  .trumbowyg-button-pane {
    left: 300px;
    width: calc(100% - 320px);

  }

}
.show.right-side-panel {
    transform: translateX(0);
  }

.show-left-panel.show-right-panel{
  main {
    width: calc(100% - 280px);
   left: 280px;
  }
}
@import "layout/header";
@import "layout/main";
@import "layout/left-side-panel";
@import "layout/right-side-panel";
@import "layout/subheader";
@import "layout/login";
