<aside class="left-side-panel">
  <div class="subheader">
    <div class="search-group">
      <input type="text" placeholder="Search..">
      <svg class="icon-search">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-search"></use>
      </svg>
    </div>
  </div>

   <app-chapters-nav *ngIf="menubarItem == 'write'" (selectedChapter)="selectChapter($event)"  [menuItems]='menuItems'></app-chapters-nav>
  <app-assets-menu *ngIf="menubarItem == 'discover'" (activeMenu)='currentView($event)'></app-assets-menu>
</aside>
