<aside class="left-side-panel">
  <div class="subheader">
    <div class="search-group">
      <input type="text" placeholder="Search..">
      <svg class="icon-search">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-search"></use>
      </svg>
    </div>
  </div>
  <nav class="chapters-menu">
    <ul class="collapsible-menu">
      <li class="chapter has-sub" *ngFor="let item of menuItems; let i = index ">
        <a href="javascript:void(0)" class="arrow"><strong>Act {{ i+1 }}</strong></a>   
        <ul>
          <li *ngFor="let chapter of item.chapters; let i = index ">
            <a href="javascript:void(0)" class="arrow">{{chapter.title}} {{ i+1}}
            </a>   
            <ul>
              <li *ngFor="let scene of chapter.scenes" class="new-element-menu add-scene">
                {{scene.title}}
                <span class="add-new-scene">
                  <svg class="icon-plus">
                    <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
                  </svg>
                </span>
              </li>  
            </ul>
          </li>
        </ul>
      </li>
      <li class="new-element-menu add-chapter">
          <svg class="icon-plus">
            <use xlink:href="/fonts/swiftpad-icons.svg#icon-plus"></use>
          </svg>
      </li>
    </ul>

  </nav>
</aside>
