<aside class="left-side-panel">
  <div class="subheader">
    <div class="search-group">
      <input type="text" placeholder="Search..">
      <svg class="icon-search">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-search"></use>
      </svg>
    </div>
  </div>
  <nav class="chapters-menu">
      <div class="chapter has-sub" *ngFor="let item of menuItems; let i = index ">
        
        <ul class="collapsible-menu">
          <li class="chapter has-sub" *ngFor="let chapter of item.chapters; let i = index ">
            <a href="javascript:void(0)" class="arrow">{{chapter.title}} {{ chapter.id }}
            </a>   
            <ul>
              <li *ngFor="let scene of chapter.scenes" >
                {{scene.title}}
                
              </li>  
              <!-- <li *ngFor="let scene of chapter.scenes" class="new-element-menu add-scene">
                <svg class="icon-plus">
                  <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-plus"></use>
                </svg>
              </li> -->
            </ul>
          </li>
        </ul>
      </div>

  </nav>
</aside>
