<div class="settings-wrapper" [ngClass]="{'open':isOpen == true }">
  <div class="settings-body">
    <span class="close" (click)="closeMe()">
      <svg class="icon-close">
        <use xlink:href="../../assets/fonts/swiftpad-icons.svg#icon-close"></use>
      </svg>
    </span>
    <div class="settings-content">
      <h2>Settings</h2>
      <form class="material" [formGroup]="userForm">
        <div class="form-group">
          <label>User Name</label>
          <input type="text" (focus) ="focusElem($event)"  (blur)="blur($event)"  class="form-control"  formControlName="username">
        </div>
        <div class="form-group">
          <label>User Email</label>
          <input type="text" (focus) ="focusElem($event)"  (blur)="blur($event)" class="form-control" formControlName="email">
        </div>
      </form>
    </div>
    <div class="settings-footer">
      <button class="btn btn-yellow" (click)="saveUser()">Save</button>
    </div>
  </div>
</div>
